@model GuardarServicioDTO

<button class="btn btn-sm btn-primary" data-bind="click:crear">Crear</button>

<div class="modal fade" id="servicio-modal" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-label">Registrar Servicio</h4>
            </div>
            <div class="modal-body">
                <form id="servicio-form" name="servicio-form" class="form-horizontal">
                    @Html.HiddenFor(m => m.Id, new { data_bind = "value: id" })
                    <div class="control-group">
                        @Html.LabelFor(m => m.Codigo, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control", data_bind = "value: codigo" })
                            @Html.ValidationMessageFor(m => m.Codigo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Nombre, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", data_bind = "value: nombre" })
                            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.EsGenerico, new { @class = "control-label" })
                        <div class="controls">
                            @Html.CheckBoxFor(m => m.EsGenerico, new { data_bind = "checked: esGenerico" })
                            @Html.ValidationMessageFor(m => m.EsGenerico, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-sm btn-primary" data-bind="click: guardar">Realizar Cambios</button>
            </div>
        </div>
    </div>
</div>